# list of environment variables that has to be provided for each env
# name of the environment can be used then when calling script for composing environment
APP_VERSION=""
GITHUB_TOKEN=""

DB_DATABASE=""
DB_USER=""
DB_PASSWORD=""
DB_PORT=""

BACKEND_PORT=""
